.flex-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  flex-direction: row;
  justify-content: center;
}

.flex-container > div {
  background-color: #5DC450;
  margin: 30px;
  padding: 20px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: inline-block;
}